<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgh000575.smartsociety">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".security.SecurityEntryActivity"></activity>
        <activity android:name=".AboutUsActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".admin.AdminDashboardActivity" />
        <activity android:name=".admin.AddBillActivity" />
        <activity android:name=".Bill" />
        <activity android:name=".Rules" />
        <activity android:name=".maintenance" />
        <activity android:name=".View_Member" />
        <activity android:name=".Add_Member" />
        <activity android:name=".Register" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>